@import 'variables.pcss';

.ssh-form {
  &__item {
    &:not(:last-of-type) {
      margin-bottom: var(--grid2);
    }
  }

  &__address-item {
    display: flex;
  }

  &__host {
    flex: 1;
  }

  &__port {
    margin-left: var(--grid2);
    flex: 0 0 60px;
  }
}
