@import 'variables.pcss';

.connections-list-modal {
  max-width: 600px;

  &__delete-btn {
    margin-right: auto;
  }

  &__action-btn {
    margin-left: var(--grid2);
  }

  &__connections {
    margin-top: var(--grid1);
  }

  &__actions {
    display: flex;
    margin-top: var(--grid4);
  }
}
