@import 'variables.pcss';

.connections-list-modal {
  max-width: 600px;

  &__action-btn {
    &:not(:first-of-type) {
      margin-left: var(--grid2);
    }
  }

  &__connections {
    margin-top: var(--grid1);
  }
}
