@import 'variables.pcss';

@import './tabs_theme_dark.pcss';
@import './tabs_theme_light.pcss';

.tabs {
  display: flex;
  margin-left: var(--grid0_5-neg);
  margin-right: var(--grid0_5-neg);

  &__item {
    padding: var(--grid2) var(--grid3);
    position: relative;
    cursor: pointer;
    margin: 0 var(--grid0_5);
    outline: 0;
    border-radius: var(--border-radius-200);
    font-size: var(--font-size-200);
  }
}
