@import 'variables.pcss';

.tabs_theme_light {
  .tabs {
    &__item {
      color: var(--color-grey-800);

      &:hover {
        background: var(--color-blue-50);
      }

      &._active {
        background: var(--color-blue-700);
        color: var(--color-white);
      }
    }
  }
}
