@import 'variables.pcss';

.button-icon_theme_dark {
  &.button-icon {
    opacity: var(--opacity-200);

    &:hover {
      opacity: var(--opacity-50);
    }

    &._view_default {
      color: var(--color-white);
    }
  }
}
