@import url('variables.pcss');

@import url('./label_theme_dark.pcss');
@import url('./label_theme_light.pcss');

.label {
  &_size_s {
    line-height: var(--grid4);
    font-size: var(--font-size-200);
  }

  &_size_m {
    font-size: var(--font-size-400);
  }
}
