@import url('normalize.css');
@import url('./font-family.pcss');
@import url('./variables.pcss');

html,
body {
  font-family: var(--font);
  font-size: var(--font-size-400);
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  text-size-adjust: none;
  overflow-x: hidden;
  min-height: 100vh;
}
