@import 'normalize.css';
@import './variables.pcss';

html,
body {
  font-family: var(--font);
  font-size: var(--font-size-400);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
  min-height: 100vh;
}
