@import 'variables.pcss';

.ask-data-form {
  &__item {
    &:not(:last-of-type) {
      margin-bottom: var(--grid2);
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--grid4);
  }
}
