@import 'variables.pcss';

.open-connection_theme_light {
  .open-connection {
    &__content {
      border-left-color: var(--color-grey-400);
    }

    &__key {
      &._active {
        color: var(--color-grey-600);
      }
    }

    &__key,
    &__connection {
      &._selected {
        &::before {
          background: var(--color-grey-400);
          opacity: var(--opacity-200);
        }
      }
    }

    &__icon {
      color: var(--color-grey-700);
    }
  }
}
