@import 'variables.pcss';

.open-connection_theme_light {
  .open-connection {
    &__content {
      border-left-color: var(--color-grey-400);
    }

    &__key {
      &._selected {
        color: var(--color-grey-600);
      }
    }

    &__icon {
      color: var(--color-grey-700);
    }
  }
}
