@import url('variables.pcss');

.tabs_theme_dark {
  .tabs {
    &__item {
      color: var(--color-grey-400);

      &:hover {
        background: var(--color-grey-750);
      }

      &_active {
        background: var(--color-blue-700);
        color: var(--color-white);
      }
    }
  }
}
