@import "./button-icon_theme_dark.pcss";
@import "./button-icon_theme_light.pcss";

.button-icon {
  cursor: pointer;

  &._disabled {
    pointer-events: none;
    opacity: var(--opacity-200);
  }
}
