@import 'variables.pcss';

.table_theme_light {
  .table {
    &__column {
      color: var(--color-grey-800);
      border-top-color: var(--color-grey-400);

      &_hovered,
      &_active {
        background: var(--color-grey-100);
      }
    }

    &__heading {
      color: var(--color-grey-900);
      background: var(--color-grey-300);
    }
  }
}