@import 'variables.pcss';

.checkbox_theme_dark {
  .checkbox {
    &__check {
      border-color: var(--color-grey-900);
      background: var(--color-grey-300);

      &._checked {
        border-color: var(--color-blue-700);
        background: var(--color-blue-700);
        color: var(--color-white);
      }
    }

    &__label {
      color: var(--color-grey-300);
    }
  }
}
