@import 'variables.pcss';

.edit-value-form {
  &__key-wrap {
    display: flex;
    align-items: flex-end;
  }

  &__key {
    flex: 1;
  }

  &__edit-btn {
    margin-left: var(--grid2);
    margin-bottom: var(--grid2);
  }

  &__create-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--grid3);
  }
}
