@import 'variables.pcss';

.table_theme_dark {
  .table {
    &__column {
      border-left-color: var(--color-grey-900);
      border-bottom-color: var(--color-grey-900);

      &._heading {
        color: var(--color-grey-300);
        background: var(--color-grey-850);
      }
    }
  }
}
