@import 'variables.pcss';

@import './table_theme_dark.pcss';
@import './table_theme_light.pcss';

.table {
  display: grid;

  &__column,
  &__heading {
    font-size: var(--font-size-500);
    padding: var(--grid2);
    outline: 0;

    &._size_s {
      font-size: var(--font-size-200);
    }

    &._size_m {
      font-size: var(--font-size-400);
    }
  }

  &__column {
    border-top: 1px solid;

    &._selectable {
      cursor: pointer;
    }
  }
}
