@import './paragraph_theme_dark.pcss';
@import './paragraph_theme_light.pcss';

.paragraph {
  margin: 0;

  &_size_s {
    font-size: var(--font-size-200);
  }

  &_size_m {
    font-size: var(--font-size-400);
  }

  &_size_l {
    font-size: var(--font-size-500);
  }
}
