@import 'variables.pcss';

.table_theme_dark {
  .table {
    &__column {
      color: var(--color-grey-400);
      border-top-color: var(--color-grey-500);

      &._hovered,
      &._active {
        background: var(--color-grey-750);
      }
    }

    &__heading {
      color: var(--color-grey-300);
      background: var(--color-grey-850);
    }
  }
}
